
<h3>Detail {{model.name}}</h3>
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {{#each model.categories as |category|}}
        {{#link-to 'shops.show.category' category tagName="li"}}
          <a href="">{{category.name}}</a>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
