<div class="container">
<h2 id="title">Welcome to Ember</h2>
{{link-to 'Go Home' 'index' }}
<br/>
{{link-to 'Shops selection' 'shops' current-when='shops shops.show.category'}}
<hr>
{{outlet}}
</div>
