The currently selected shop:
{{#if selectedShop}}
  {{selectedShop.name}}
{{else}}
  &lt;none&gt;
{{/if}}

{{#x-select value=selectedShop action='navigate'}}
  <option>Select your shop</option>
  {{#each model as |shop|}}
    {{#x-option value=shop}}{{shop.name}}{{/x-option}}
  {{/each}}
{{/x-select}}
{{outlet}}
